<%
	const navLinks = [
		{
			href: '/',
			label: 'Home',
			pageName: 'index'
		},
		{
			href: '/latest',
			label: 'Latest',
			pageName: 'latest'
		}
	];
%>

<nav class="navbar navbar-expand-lg navbar-dark sticky-top">
	<div class="container">
		<a class="navbar-brand p-0" href="/">
			<!--Navbar-->
			<div class="logo">
				<img src="/images/Democrats_Care_Logo.png" height="50">
			</div>
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<% navLinks.forEach(({ href, label, pageName }) => { %>
					<li class="nav-item">
						<% if (page === pageName) { %>
							<a class="nav-link active" aria-current="page" href="<%= href %>"><%= label %></a>
						<% } else { %>
							<a class="nav-link" href="<%= href %>"><%= label %></a>
						<% } %>
					</li>
				<% }); %>
				<!--
				<li class="nav-item">
					<a class="nav-link" href="#">Members</a>
				</li>
				-->
				<!-- Hide on lg and wider screens (i.e. when navbar is expanded) -->
				<li class="nav-item d-lg-none">
					<a class="nav-link" href="https://secure.anedot.com/marlborough-ct-democratic-town-committee/donate">Donate</a>
				</li>
			</ul>
			<!-- Hide on screens smaller than lg (i.e. when navbar is collapsed) -->
			<div class="d-none d-lg-flex">
				<a class="btn btn-danger" href="https://secure.anedot.com/marlborough-ct-democratic-town-committee/donate">Donate</a>
			</div>
		</div>
	</div>
</nav>
