<!DOCTYPE html>
<html>
	<head>
		<%- include('../partials/head'); %>
		<title>Marlborough, CT Democratic Town Committee</title>
		<style>
			.w-90 {
				width: 90% !important;
			}
		</style>
		<style>
			#hero {
				background: linear-gradient(rgba(6, 62, 114, 0.95), rgba(6, 62, 114, 0.25)), url('/images/hero/<%= hero %>');
				background-position: top;
				background-repeat: no-repeat;
				background-size: cover;
				color: white;
				height: 200px;
				position: relative;
				width: 100%;
			}
			#hero .title-wrapper {
				background: rgba(156, 196, 228, 0.25);
				padding: 8px 0;
				position: absolute;
				top: 25px;
				width: 100%;
			}
			#hero .title-wrapper h1,
			#hero .title-wrapper h2 {
				color: white;
				font-family: "Trebuchet MS", sans-serif;
				font-weight: bold;
				margin: 0;
				text-align: center;
				text-decoration: none;
			}
			#hero .title-wrapper h1 {
				font-size: 28px;
			}
			#hero .title-wrapper h2 {
				font-size: 20px;
			}

			#notice {
				background: #FCFFAC;
			}
			#notice h1 {
				font-size: 16px;
				text-align: left;
				text-decoration: none;
				vertical-align: baseline;
			}
			#notice h1 i {
				vertical-align: 1px;
			}
			#notice h1,
			#notice p {
				margin-bottom: 13px;
			}
			#notice p {
				font-family: Georgia;
				font-size: 14px;
				line-height: normal;
			}
			#notice p:last-child {
				margin-bottom: 0;
			}
			#notice a[data-bs-toggle] {
				color: #063E72;
				display: block;
				font-family: "Trebuchet MS", sans-serif;
				font-size: 14px;
				font-weight: bold;
				margin-top: 13px;
				text-align: center;
			}

			#mission {
				background-image: url('/images/Democrats_Care_Logo.png');
				background-position: center;
				background-repeat: no-repeat;
				background-size: auto 90%;
				border-bottom: solid #CCC 1px;
				position: relative;
				text-align: center;
			}
			#mission::before {
				background: white;
				bottom: 0;
				content: "";
				left: 0;
				opacity: 90%;
				position: absolute;
				right: 0;
				top: 0;
			}

			#next-meeting p {
				font-size: 12px;
				text-align: center;
			}

			#gallery {
				background: #333;
			}

			#contact-us {
				background: #E9F2F9;
			}
			#contact-us a {
				color: #063E72;
			}
			#contact-us ul {
				margin-bottom: 0;
				list-style: none;
				padding-left: 0;
			}
			#contact-us ul li {
				display: flex;
				margin-bottom: 20px;
			}
			#contact-us ul li i {
				color: #063E72;
				font-size: 18px;
				margin-right: 10px;
			}
			#contact-us ul li form,
			#contact-us ul li form input,
			#contact-us ul li form textarea {
				width: 100%;
			}
			#contact-us ul li form input,
			#contact-us ul li form textarea {
				border: solid #9CC4E4 1px;
				padding: 0 5px;
			}
			#contact-us ul li form button {
				background: #1F5B94;
				border: none;
				border-radius: 8px;
				color: white;
				font-size: 14px;
				font-weight: bold;
				padding: 10px 20px;
			}

			@media (min-width: 992px) { /* Bootstrap large breakpoint */
				#hero {
					background-position: center;
					height: 250px;
				}

				#mission {
					border-bottom: none;
					border-right: solid #CCC 1px;
				}
			}
		</style>
	</head>
	<body>
		<%- include('../partials/navbar', { page: 'index' }); %>
		<div id="hero">
			<div class="title-wrapper">
				<div class="container">
					<h1 class="d-none d-lg-block">
						Marlborough, Connecticut Democratic Town Committee
					</h1>
					<h2 class="d-lg-none">
						Marlborough, CT
						<br>
						Democratic Town Committee
					</h2>
				</div>
			</div>
		</div>
		<section id="notice">
			<div class="container d-none d-lg-block">
				<h1>
					<i class="bi-info-circle-fill"></i>
					Marlborough, CT Democrats Seek to Fill Seats
				</h1>
				<p>
					It takes more than simply living in a town to be a part of the community.  That's why the Marlborough Democratic Town Committee is accepting applications from registered Democrats, Independents, and Unaffiliated voters to serve on our local Boards and Commissions.
				</p>
				<p>
					Current openings include seats on the Planning Commission, Economic Development Commission, Parks and Recreation Commission, and the Nature Trails and Sidewalks Commission.  We are also looking for individuals to serve as Alternates on the Zoning Board of Appeals, Economic Development Commission, and the Water Pollution Control Authority.
				</p>
				<p>
					For more information, please call Amy Traversa at (860) 771-1134 or Betty O’Brien at (860) 573-0552.  Be the change you want to see!
				</p>
			</div>
			<div class="container d-lg-none">
				<h1>
					<i class="bi-info-circle-fill"></i>
					Marlborough, CT Democrats Seek to Fill Seats
				</h1>
				<p>
					It takes more than simply living in a town to be a part of the community.  That's why the Marlborough Democratic Town Committee is accepting applications from registered Democrats, Independents, and Unaffiliated voters to serve on our local Boards and Commissions.
				</p>
				<div class="collapse" id="notice-collapse">
					<p>
						Current openings include seats on the Planning Commission, Economic Development Commission, Parks and Recreation Commission, and the Nature Trails and Sidewalks Commission.  We are also looking for individuals to serve as Alternates on the Zoning Board of Appeals, Economic Development Commission, and the Water Pollution Control Authority.
					</p>
					<p>
						For more information, please call Amy Traversa at (860) 771-1134 or Betty O’Brien at (860) 573-0552.  Be the change you want to see!
					</p>
				</div>
				<a aria-controls="notice-collapse" aria-expanded="false" data-bs-toggle="collapse" href="#notice-collapse" role="button">
				</a>
			</div>
		</section>
		<div class="bg-white">
			<div class="container">
				<div class="row">
					<section id="mission" class="col-lg-8">
						<div class="mx-auto position-relative w-90">
							<h1>OUR MISSION</h1>
							<p>
								The Marlborough Democratic Town Committee, through our advocacy efforts and our support of the platform of the Democrat Party, will engage the people of Marlborough in actions that promote a well-managed, vibrant and caring community.
							</p>
						</div>
					</section>
					<section id="next-meeting" class="col-lg-4">
						<h1>NEXT MEETING</h1>
						<div class="align-items-end d-flex justify-content-center">
							<canvas class="me-4" height="112" id="calendar-date" width="100"></canvas>
							<div>
								<a href="https://zoom.us" target="_blank">
									<img src="/images/zoom3.png" width="100">
								</a>
							</div>
						</div>
						<p class="mb-0 mt-3 mx-auto w-90">
							Due to the ongoing pandemic, all meetings are held virtually via Zoom. For instructions on joining the Zoom call ahead of the next meeting, please <a href="#contact-us">contact us</a>.
						</p>
					</section>
				</div>
			</div>
		</div>
		<div id="gallery">
			<div class="container px-0">
				<div class="carousel carousel-fade slide" data-bs-ride="carousel" id="gallery-carousel">
					<div class="carousel-inner">
						<div class="active carousel-item">
							<img alt="Election Day 2020" class="d-block w-100" src="/images/carousel/election_day_2020.jpeg">
							<div class="carousel-caption">
								<h5>Election Day 2020</h5>
								<p class="d-none d-lg-block">November 3, 2020 | Elmer Thienes - Mary Hall Elementary School, Marlborough, CT</p>
							</div>
						</div>
						<div class="carousel-item">
							<img alt="Democrats wave at Marlborough Transfer Station" class="d-block w-100" src="/images/carousel/democrats_wave_transfer_station.jpeg">
							<div class="carousel-caption">
								<h5>Democrats Campaigning</h5>
								<p class="d-none d-lg-block">October 24, 2020 | Transfer Station, Marlborough, CT</p>
							</div>
						</div>
						<div class="carousel-item">
							<img alt="Solidarity Rally 2020" class="d-block w-100" src="/images/carousel/solidarity_rally_1.jpeg">
							<div class="carousel-caption">
								<h5>Solidarity Rally 2020</h5>
								<!-- <p class="d-none d-lg-block">Some representative placeholder content for the first slide.</p> -->
							</div>
						</div>
						<div class="carousel-item">
							<img alt="Solidarity Rally 2020" class="d-block w-100" src="/images/carousel/solidarity_rally_2.jpeg">
							<div class="carousel-caption">
								<h5>Solidarity Rally 2020</h5>
								<!-- <p class="d-none d-lg-block">Some representative placeholder content for the first slide.</p> -->
							</div>
						</div>
						<div class="carousel-item">
							<img alt="Governor Ned Lamont visits Marlborough" class="d-block w-100" src="/images/carousel/ned_lamont_visits_marlborough.jpeg">
							<div class="carousel-caption">
								<h5>Governor Ned Lamont visits Marlborough</h5>
								<!-- <p class="d-none d-lg-block">Some representative placeholder content for the first slide.</p> -->
							</div>
						</div>
					</div>
					<a class="carousel-control-prev" data-bs-slide="prev" href="#gallery-carousel" role="button">
						<span aria-hidden="true" class="carousel-control-prev-icon"></span>
						<span class="visually-hidden">Previous</span>
					</a>
					<a class="carousel-control-next" data-bs-slide="next" href="#gallery-carousel" role="button">
						<span aria-hidden="true" class="carousel-control-next-icon"></span>
						<span class="visually-hidden">Next</span>
					</a>
				</div>
			</div>
		</div>
		<section id="contact-us">
			<div class="container">
				<h1 class="text-center text-lg-start">CONTACT US</h1>
				<div class="row">
					<div class="col-lg">
						<ul>
							<li>
								<i class="bi-at"></i>
								<a href="mailto:marlboroughctdemtowncommittee@gmail.com">marlboroughctdemtowncommittee@gmail.com</a>
							</li>
							<li>
								<i class="bi-envelope-fill"></i>
								<div>
									<strong>MTDC</strong>
									<br>
									P.O. Box 126
									<br>
									Marlborough, CT 06447
								</div>
							</li>
							<li>
								<i class="bi-chat-dots-fill"></i>
								<div class="d-flex">
									<a class="me-3" href="https://www.facebook.com/MarlboroughCTDems/" target="_blank">
										<img src="/images/fb.png" width="50">
									</a>
									<a href="https://www.instagram.com/mdtc06447/" target="_blank">
										<img src="/images/insta.png" width="50">
									</a>
								</div>
							</li>
						</ul>
					</div>
					<div class="col-lg">
						<ul>
							<li class="mb-0">
								<i class="bi-input-cursor-text"></i>
								<!-- TODO -->
								<form>
									<input class="mb-2" placeholder="Your email address" type="email">
									<br>
									<textarea class="mb-1" placeholder="Your message" rows="5"></textarea>
									<br>
									<button type="submit">Send</button>
								</form>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>

		<%- include('../partials/footer'); %>
		<script>
			// http://js-bits.blogspot.com/2010/07/canvas-rounded-corner-rectangles.html
			/**
			 * Draws a rounded rectangle using the current state of the canvas. 
			 * If you omit the last three params, it will draw a rectangle 
			 * outline with a 5 pixel border radius 
			 * @param {CanvasRenderingContext2D} ctx
			 * @param {Number} x The top left x coordinate
			 * @param {Number} y The top left y coordinate 
			 * @param {Number} width The width of the rectangle 
			 * @param {Number} height The height of the rectangle
			 * @param {Number} radius The corner radius. Defaults to 5;
			 * @param {Boolean} fill Whether to fill the rectangle. Defaults to false.
			 * @param {Boolean} stroke Whether to stroke the rectangle. Defaults to true.
			 */
			function roundRect(ctx, x, y, width, height, radius, fill, stroke) {
				if (typeof stroke == "undefined" ) {
					stroke = true;
				}
				if (typeof radius === "undefined") {
					radius = 5;
				}
				ctx.beginPath();
				ctx.moveTo(x + radius, y);
				ctx.lineTo(x + width - radius, y);
				ctx.quadraticCurveTo(x + width, y, x + width, y + radius);
				ctx.lineTo(x + width, y + height - radius);
				ctx.quadraticCurveTo(x + width, y + height, x + width - radius, y + height);
				ctx.lineTo(x + radius, y + height);
				ctx.quadraticCurveTo(x, y + height, x, y + height - radius);
				ctx.lineTo(x, y + radius);
				ctx.quadraticCurveTo(x, y, x + radius, y);
				ctx.closePath();
				if (stroke) {
					ctx.stroke();
				}
				if (fill) {
					ctx.fill();
				}
			}
		</script>
		<script>
			function getMonthName(monthIndex) {
				return ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'][monthIndex];
			}
			function getMonthAbbrev(monthIndex) {
				return getMonthName(monthIndex).substr(0, 3);
			}

			function getNextMeetingDate() {
				const now = new Date();
				let meetingDate;

				for (let i = 0; i <= 1; i++) {
					const month = now.getMonth() + i;
					const firstDay = new Date(now.getFullYear(), month, 1).getDay();

					if (firstDay <= 1) {
						meetingDate = new Date(now.getFullYear(), month, 23 - firstDay);
					} else {
						meetingDate = new Date(now.getFullYear(), month, 30 - firstDay)
					}

					if (now.getTime() < (meetingDate.getTime() + 86400000)) {
						break;
					}
				}

				return meetingDate;
			}

			function drawCalendar() {
				const meetingDate = getNextMeetingDate();
				const meetingTitle = `${getMonthAbbrev(meetingDate.getMonth())} ${meetingDate.getDate()} @7:00 PM`;

				const canvas = document.getElementById('calendar-date');

				$(canvas).text(meetingTitle);
				$(canvas).attr('title', meetingTitle);
				if (canvas.getContext) {
					const context = canvas.getContext('2d');

					// Calendar frame
					const borderWidth = 2;
					const topperHeight = 36;

					context.fillStyle = '#063E72';
					context.fillRect(0, (canvas.height - canvas.width), canvas.width, canvas.width);
					context.fillStyle = 'white';
					context.fillRect(borderWidth, topperHeight, canvas.width - (borderWidth * 2), canvas.height - topperHeight - borderWidth);

					// Month abbreviation
					context.fillStyle = '#063E72';
					context.font = 'bold 18px "Trebuchet MS", sans-serif';
					context.textAlign = 'center';
					context.fillText(getMonthAbbrev(meetingDate.getMonth()).toUpperCase(), canvas.width / 2, canvas.height - borderWidth - 8);

					// Date
					context.fillStyle = '#063E72';
					context.font = 'bold 48px "Trebuchet MS", sans-serif';
					context.textAlign = 'center';
					context.textBaseline = 'top';
					context.fillText(meetingDate.getDate(), canvas.width / 2, topperHeight);

					// Rings
					const numRings = 3;
					const ringWidth = 8;
					const ringSpacing = 20;

					context.fillStyle = '#063E72';
					context.lineWidth = 1;
					context.strokeStyle = 'white';
					for (let i = 0; i < numRings; i++) {
						const x = (canvas.width / 2) - (ringWidth / 2) + (ringSpacing * (i - ((numRings - 1) / 2)));

						roundRect(context, x, 1, ringWidth, 20, 3, true, true);
					}
				}
			}

			function onToggleCollapse(el, isExpanded) {
				const $el = $(el);
				const $collapsers = $el.siblings('[data-bs-toggle="collapse"]');

				$collapsers.text(isExpanded ? 'Less' : 'More').append($('<i>').addClass(`bi-chevron-${isExpanded ? 'up' : 'down'}`));
			}
			function addCollapseListeners() {
				// const $collapses = $('.collapse:not(.navbar-collapse)');
				const $collapses = $('#notice-collapse');

				for (let el of $collapses) {
					onToggleCollapse(el, false);

					el.addEventListener('show.bs.collapse', () => {
						onToggleCollapse(el, true);
					});
					el.addEventListener('hide.bs.collapse', () => {
						onToggleCollapse(el, false);
					});
				}
			}

			(function($) {
				drawCalendar();
				addCollapseListeners();
			})(jQuery);
		</script>
	</body>
</html>
