<!DOCTYPE html>
<html>
	<head>
		<%- include('../partials/head'); %>
		<title>Marlborough, CT Democratic Town Committee</title>
		<style>
			
		</style>
	</head>
	<body>
		<%- include('../partials/navbar', { page: 'latest' }); %>

		<%- include('../partials/footer'); %>
		<script>
		</script>
	</body>
</html>
